/* You can add global styles to this file, and also import other style files */
body {
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-color: #eeeeee;
  max-width: 1366px;
  margin: auto;
}

.btn {
  text-decoration: none;
  color: #fff;
  margin: 0 0.5rem;
  padding: 0.6rem 1rem;
  background-color: #606060;
}

ul {
  list-style: none;
}
@media (max-width: 1024px) {
  body {
    font-size: 70%;
    max-width: 1024px;
  }
}
