/* You can add global styles to this file, and also import other style files */
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: #EEEEEE;
}

.btn {
    text-decoration: none;
    color: #fff;
    margin: 0 0.5rem;
    padding: 0.6rem 1rem;
    background-color: #606060;
}

ul {
    list-style: none;
}
